Flask==2.3.2
flask-restx==1.3.0
langchain==0.2.1
langgraph==0.1.4
pydantic==2.11.7
python-dotenv==1.0.0
langchain-community
faiss-cpu
langchain_google_genai
pypdf
langchain 
langchain-pinecone
pinecone
weaviate-client
langchain_weaviate
wikipedia
youtube_search
langgraph
chromadb
langchain-chroma
langchain_groq
yfinance
duckduckgo_search
langchain-openai
requests
flask-cors
python-dotenv
pytz>=2023.3
wikipedia-api>=0.6.0
